@use 'variaveis';

.main {
    margin-top: 5%;
}

.pedidos {
    font-family: variaveis.$texto-cursivo;
    font-size: 5em;
    color: variaveis.$branco;
}

.pedidos span {
    color: variaveis.$amarelo;
}

.taxas-entregas {
    font-weight: bold;
}

.title,
span {
    color: variaveis.$cor-primaria;
    font-weight: bold;
}

.taxas-entregas__bag {
    display: none;
}

@media #{variaveis.$md768} {
    .main {
        margin-top: 14%;
    }
}

@media #{variaveis.$lg992} {
    .taxas-entregas {
        position: sticky;
        top: 10px;

        #bag {
            text-align: center;
        }

        &__bag {
            &-body {
                background-color: #f1efef;
                display: flex;
                height: auto;
                align-items: center;
                flex-direction: column;
            }

            &-icon {
                font-size: 72px;
            }

            &-text {
                font-size: 18px;
                font-weight: normal;
            }
        }
    }
}
