.finaliza-compra{

    
    &__resumo{
        
        .bi-bag-x-fill{
            width: 50%;
            font-size: 10em;
        }
        
    }

}

#limparCep{
    position: absolute;
    top: 58%;
    left: 87%;
    cursor: pointer;
}