.input-icon i{
    position: absolute;
    top: 58%;
    left: 88%;
    cursor: pointer;
}

.finaliza-compra{
    
    &__resumo{
        text-align: center;

        .bi-bag-x-fill{
            width: 50%;
            font-size: 10em;
        }
    }
}