.finaliza-compra{

    &__cep i{
        position: absolute;
        top: 58%;
        left: 88%;
        cursor: pointer;
    }

    &__resumo{

        .bi-bag-x-fill{
            width: 50%;
            font-size: 10em;
        }

    }
}