@use 'variaveis';
@use 'header';
@use 'btnCarrinho';
@use 'cardapio';
@use 'card';
@use 'footer';
@use 'formulario';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

button{
    text-align: justify;
    border: none;
}

body {
    min-width: 576px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background-color: variaveis.$background-color;
    font-family: variaveis.$texto-secundario;
    color: variaveis.$cor-secundaria;
    font-size: 14px;
}

.white-square {
    background-color: variaveis.$branco;
    border-radius: 8px;
    border: 1px solid rgb(208, 212, 216);
}
