.main{
    margin-top: 5%;
}

.taxas-entregas{
    font-weight: bold;
}

.title,
span{
    color: @cor-primaria;
    font-weight: bold;
}

.taxas-entregas__bag{
    display: none;
}

.card{
    border: none;

    &-img{
        height: 100px;
        width: 100px;
        object-fit: cover;
    }

    &-text{
        color: @cor-secundaria;
        margin: 8px 0;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2;
    }

    &-value{
        font-size: 1.25em;
    }

}

@media @md768 {
    .main{
        margin-top: 14%;
    }
}

@media @lg992{

.taxas-entregas{
    
    position: sticky;
    top: 10px;

    &__bag{
        
        &-body{
            background-color: #f1efef;
            display: flex;
            height: 170px;
            align-items: center;
            flex-direction: column;
        }

        &-icon{
            font-size: 72px;
        }

        &-text{
            font-size: 18px;
            font-weight: normal;
        }
    }

}

.card{

    padding: 8px 0;

    &-title{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 1;
    }

}
}
